<div class="col-md-12 col-sm-12 col-xs-12 p-0 course_container">
    <div class="col-md-3 col-sm-12 col-xs-12 p-0">
        <div style="background-image: url('{{ course_image }}'); height:145px;" alt="{{course}}" title="{{course}}" class="pvcourse_img lpimg_bg" ></div>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12 summary_container">
        <div class="w-full pull-left p-15">
            <h5>{{{ course }}}</h5>
            <div class="text-muted">{{ course_summary }}</div>
        </div>
    </div>
</div>