<div class="col-md-12 p-0 curriculumview_tabscontainer">
    <div class="semestertabs_list">
        <ul class="nav nav-tabs{{!  tabs-left sideways }}" role="tablist">
            {{# curriculumsemesteryears}}
            <li class="nav-item {{^ disabled }} curriculumsemesteryears {{/ disabled }}" role="presentation">
                {{# canmanagesemesteryear }}
                    <div class="actionicons showoptions{{ id }}">
                        <span  class="pull-right showoptions" data-action="showoptions{{ id }}" onmouseenter="(function(e){ require('theme_epsilon/quickactions').quickactionsCall({ selector:'showoptions{{ id }}' }) })(event)" onmouseleave="(function(e){require('theme_epsilon/quickactions').quickactionsCall({ selector:'showoptions{{ id }}' }) })(event)"><i class="fa fa-ellipsis-h options"></i>
                        </span>
                        <ul class="col-md-12 col-sm-12 col-xs-12 p-0 options_container" id = "showoptions{{ id }}">
                            {{# caneditsemesteryear }}
                            <li>
                                <a href="javascript:void(0)" onclick="(function(e){ require('local_program/ajaxforms').init({contextid:1, component:'local_program', callback:'curriculum_manageyear_form', form_status:0, plugintype: 'local', pluginname: 'program_addyear', id: {{id}}, curriculumid:{{curriculumid}}, programid:{{programid}} }) })(event)">
                                    <i class="fa fa-cog fa-fw" aria-hidden="true" title="Edit Year"></i>
                                </a>
                            </li>
                            {{/ caneditsemesteryear }}
                            {{# candeletesemesteryear }}
                            <li>
                                <a href="javascript:void(0)" onclick="(function(e){ require('local_program/program').deleteConfirm({action:'deletesemesteryear', id: {{ id }}, curriculumid: {{ curriculumid }}, programid: {{ programid }} }) })(event)">
                                    <i class="fa fa-times" aria-hidden="true" title="Delete Year"></i>
    			                </a>
                            </li>
                            {{/ candeletesemesteryear }}
                            {{^ candeletesemesteryear }}
                            <li>
    				            <a href="javascript:void(0)" alt = "{{# str}} delete {{/ str}}" title = "{{# str}} delete {{/ str}}" onclick="(function(e){ require('local_program/program').deleteConfirm({action:'cannotdeletesemesteryear', 
                                id: {{ id }}, curriculumid: {{ curriculumid }}, programid: {{ programid }} }) })(event)">
    					           <i class="fa fa-times" aria-hidden="true" title="Delete Year"></i>
    				            </a>
                            </li>
			                {{/ candeletesemesteryear }}
<!--                             {{# cansetcost }}
                            <li>
                                <a href="javascript:void(0)" onclick="(function(e){ require('local_program/ajaxforms').init({contextid:1, component:'local_program', callback:'curriculum_setyearcost_form', form_status:0, plugintype: 'local', pluginname: 'setyearcost_form', yearid: {{id}}, programid: {{programid}}, curriculumid:{{curriculumid}}  }) })(event)">
                                    <i class="fa fa-money fa-fw" aria-hidden="true" title="Set Cost"></i>
                                </a>
                            </li>
                            {{/ cansetcost }} -->
                        </ul>
                    </div>
                {{/ canmanagesemesteryear }}
                {{# disabled }}
                    <span class="nav-link">{{{ year }}}</span>
                {{/ disabled}}
                {{^ disabled }}
                    <a class="nav-link {{active}} {{#userview}}{{#mycompletionstatus}}{{mycompletionstatus}}{{/mycompletionstatus}}{{#myinprogressstatus}}{{myinprogressstatus}}{{/myinprogressstatus}}{{/userview}}" data-toggle="tab" href="javascript:void(0);" aria-controls="ccyear{{ id }}" data-yearid = "{{id}}" role="tab">{{{ year }}}</a>
                {{/ disabled }}
            </li>
            {{/ curriculumsemesteryears }}
        </ul>
    </div>
    <div class="yearstabscontent_container">
        {{{ curriculumsemesteryear }}}
    </div>
</div>
{{#js}}

    $( document ).ready(function() {
        var semesterheight = $('.semestertabs_list').height();
        $('.yearstabscontent_container').css('min-height', semesterheight+'px');

        var findactiveclass = $('.curriculumsemesteryears');
        if ($(findactiveclass).find('.nav-link').hasClass('active')){
            $('.yearstabscontent_container').css('display', 'block');
        }
        else {
        //$('.yearstabscontent_container').css('display', 'none');

        $('.curriculumsemesteryears a[data-yearid={{useryearid}}]').trigger('click').addClass('active ');

    }
    });

    $('.curriculumsemesteryears').click(function(){
        if ($(this).find('.nav-link ').hasClass('active')){
            $('.yearstabscontent_container').css('display', 'block');

            return true;
        }
        if ($('.tab-content #{{yearid}}').hasClass('active')){
            return true;
            $('.yearstabscontent_container').css('display', 'block');
        }

        var yearid = $(this).find('.nav-link').data('yearid');
        $.ajax({
            method: 'POST',
            url: M.cfg.wwwroot + '/local/program/ajax.php',
            data: {
                action: 'curriculumyearsemesters',
                curriculumid:{{curriculumid}},
                yearid: yearid
            },
            success:function(resp){
                $('.yearstabscontent_container').html(resp);
                if($('.tab-content .local_program-semisters_wrap .lpcourse_content:first-child .courseslist').hasClass('collapse')){
                    $('.tab-content .local_program-semisters_wrap .lpcourse_content:first-child .courseslist').removeClass('collapse').addClass('collapse in');
                    $('.tab-content .local_program-semisters_wrap .lpcourse_content:first-child .semcontentlist.semabove').attr('aria-expanded','true');
                }
            }
        });
    });
{{/js}}
