<div class="programlist-container">
	<div class="Cp-flexi-container mbottom-2">
		<div class="Cprcontainer">
			<h5 class="Cprhdr text-xs-center">{{#str}} myprograms, block_program_courselist {{/str}}</h5>
			<div class="Cpenrol cppad">
				<span class="Cprcount">{{{programs_count}}}</span>
			</div>
		</div>
		<div class="Cprcontainer">
			<h5 class="Cprhdr text-xs-center">{{#str}} mycourses, block_program_courselist {{/str}}</h5>
			<div class="Cpinp cppad">
				<span class="Cprcount">{{{courses_count}}}</span>
			</div>
		</div>
		<div class="Cprcontainer">
			<h5 class="Cprhdr text-xs-center">{{#str}} mysessions, block_program_courselist {{/str}}</h5>
			<div class="Cpcomp cppad">
				<span class="Cprcount">{{{sessions_count}}}</span>
			</div>
		</div>
	</div>
</div>