<div class="programlist-container">
	<h5 class="Cprhdr text-xs-center">{{#str}} myprograms, block_program_courselist {{/str}}</h5>
	<div class="Cp-flexi-container mbottom-2">
		<div class="Cprcontainer Cpenrol">{{#str}} enroled, block_program_courselist {{/str}}
			<span class="Cprcount">{{{program_enroled}}}</span>
		</div>
		<div class="Cprcontainer Cpinp">{{#str}} inprogress, block_program_courselist {{/str}}
			<span class="Cprcount">{{{program_inprogress}}}</span>
		</div>
		<div class="Cprcontainer Cpcomp">{{#str}} completed, block_program_courselist {{/str}}
			<span class="Cprcount">{{{program_completed}}}</span>
		</div>
	</div>
	<h5 class="Cprhdr text-xs-center">{{#str}} mycourses, block_program_courselist {{/str}}</h5>
	<div class="Cp-flexi-container">
		<div class="Cprcontainer Cpenrol">{{#str}} enroled, block_program_courselist {{/str}}
			<span class="Cprcount">{{{course_enroled}}}</span>
		</div>
		<div class="Cprcontainer Cpinp">{{#str}} inprogress, block_program_courselist {{/str}}
			<span class="Cprcount">{{{course_inprogress}}}</span>
		</div>
		<div class="Cprcontainer Cpcomp">{{#str}} completed, block_program_courselist {{/str}}
			<span class="Cprcount">{{{course_completed}}}</span>
		</div>
	</div>
</div>