<div id="block_clroom_sessions">
    <div class="wrapper">
        <ul class='nav nav-tabs' role='tablist'>
            <li class='nav-item'>
                <a class='nav-link classroomSessions active' data-target='#upcomingclroom_sessions' data-tidentifier="classroom_upcomingsessions" data-targs="upcomingsessions" data-toggle='tab' role='tab' aria-expanded='true'>Upcoming/Present</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link classroomSessions' data-target='#previousclroom_sessions' data-tidentifier="classroom_previoussessions" data-targs="previoussessions" data-toggle='tab' role='tab' aria-expanded='false'>Completed</a>
            </li>
        </ul>
        <div class='tab-content w-full pull-left p-15px'>
            <div class='tab-pane active' id='trainerclroom_sessions' role='tabpanel'>
                <!-- {{# upcomingsessions }} {{{ upcomingsessions }}} {{/ upcomingsessions}}
            </div>
            <div class='tab-pane' id='previousclroom_sessions' role='tabpanel'>
                {{# previoussessions }} {{{ previoussessions }}} {{/ previoussessions }} -->
            </div>
        </div>
    </div>
</div>
{{#js}}
{{/js}}